@charset "utf-8";
body{margin-left:20px; margin-right:20px; margin-top:0px;font:82% Tahoma,Arial,Helvetica,sans-serif; background-color:#ffffff}
.all {width:100%; margin:0 auto;}
.above{	background: url(../images/122.jpg); height:110px; width: 100%; margin:0 auto;background-repeat: no-repeat;}
.bar{ background-color:#0080C0; height:25px; width: 100%; }
.a:hover {cursor:pointer;}
.textarea {
	font-family: Arial,sans-serif;
	font-size:13px;
}
.menu{
	height: 46px;
	width: 100%;
	padding: 84px 33px 1px 0px;
	text-align: center;
	font-family: Tahoma,Arial, Helvetica, sans-serif;	
}
.menu_parent{width:100%; height:26px;  }
.menu_parent ul{margin:0; padding:0; width:100%; }
.menu_parent ul li{list-style:none;}
.menu_parent > ul > li{width:132px; height:26px; float:left; font:15px; font-weight: bold; margin:0 1px; background:url(../images/normal.png)}
.menu_parent > ul > li#current{background:url(../images/active.png)}
.menu_parent > ul > li:hover{background:url(../images/active.png)}
.menu_parent ul li a{
	text-decoration: none;
	line-height: 26px;
	color: #FFF;
	font-family: Tahoma,Arial, Helvetica, sans-serif;
}

.sub_menu{position:relative}
.sub_menu ul{display:none;position:absolute;width:660px; top:26px; left:-500px;}
li.sub_menu:hover ul {display:block;}
li.sub_menu:hover ul li{float:right; padding:0 25px; border-left:1px #CCC solid; height:25px}
li.sub_menu:hover ul li.first-child{border-left:none;}
li.sub_menu:hover ul li a{font-size:12px; line-height:20px;}
li.sub_menu:hover ul li:hover{background:#858585}
li.sub_menu:hover ul li.current_pro{background:#858585}

.content{
	background: #fcfcff;
	padding-top:1px;
	padding-bottom:1px;
	alignment-adjust:middle;
	}
.bottom_def{
	background: #0080C0;
	width:100%;
	height:35px;  
	font-size:13px;
	text-align: center;	
	color: #FFF;
	padding-top:0.5px;
}.all .content table tr td {
	font-family: Tahoma,Arial, Helvetica, sans-serif;
}
.dropdown{
	width: 250px;
}
.dropdown_1{
	width: 47px;
}

A:link {text-decoration: none;color: black; }
A:visited {text-decoration: none;color: black;}
A:active {text-decoration: none;color: black;}
A:hover {text-decoration: underline; color:#0066FF;}
/*Het phan giao dien*/	  
/*Pham form*/
.feedbackform{
padding: 5px;
}

div.fieldwrapper{ /*field row DIV (includes two columns- Styled label column and 'thefield' column)*/
width: 550px; /*width of form rows*/
overflow: hidden;
padding: 5px 0;
}

div.fieldwrapper label.styled{ /* label elements that should be styled (left column within fieldwrapper DIV) */
float: left;
width: 150px; /*width of label (left column)*/
text-transform: uppercase;
border-bottom: 1px solid red;
margin-right: 15px; /*spacing with right column*/
}

div.fieldwrapper div.thefield{ /* DIV that wraps around the actual form fields (right column within fieldwrapper DIV) */
float: left;
margin-bottom: 10px; /* space following the field */
}

div.fieldwrapper div.thefield input[type="text"]{ /* style for INPUT type="text" fields. Has no effect in IE7 or below! */
width: 250px;
}

div.fieldwrapper div.thefield textarea{ /* style for TEXTAREA fields. */
width: 300px;
height: 150px;
}

div.buttonsdiv{ /*div that wraps around the submit/reset buttons*/
margin-top: 5px; /*space above buttonsdiv*/

}

div.buttonsdiv input{ /* style for INPUT fields within 'buttonsdiv'. Assumed to be form buttons. */
width: 80px;
background: #e1dfe0;
}
/*Het pham form*/

.formbutton{
cursor:pointer;
border:outset 1px #ccc;
background:#999;
color:#666;
font-weight:bold;
padding: 1px 2px;
background:url(media/formbg.gif) repeat-x left top;
}
/*Form table*/

/*Bang moi o day*/
.font_tieude{
	font: bold 17px tahoma,arial,sans-serif;
	color:#099;
	text-align:center;
	}
*Dinh nghia font cho su co*/
.font_suco{
	font: bold;
	color:#004488;
	text-align:left;
}
.font_suco_under{
	color:#999999;
}

*Dinh nghia font cho chi dao*/
.font_chidao{
	color:#999999;
}

.list_tbl
{
font:  bold 13px Tahoma, Geneva, sans-serif;
border-collapse:collapse;
background:#FCFCFF;
width: 100%;
}

.list_tbl th 
{
font:   13px Tahoma, Geneva, sans-serif;
border:0px double #005900 ;
background:#FCFCFF;
margin:5;
padding:5;
}

.list_hd 
{
font:bold 12px arial,sans-serif;
text-align:center;
padding-top:5px;
padding-bottom:4px;
color:#000040;
}

.list_nenmo 
{
font:12px arial,sans-serif;
text-align:center;
color:#000000;

}
.list_nemo_right
{
font:12px arial,sans-serif;
text-align:right;
color:#000000;

}
.list_nemo_left
{
font:12px arial,sans-serif;
text-align:left;
color:#000000;

}
.list_nemo_center
{
font:12px arial,sans-serif;
text-align:center;
color:#000000;

}

/* Bang cho form nhap lieu*/
#form_tbl
{
font-family:arial,sans-serif;
border:0px double #005900 ;
}

#form_tbl td, #form_tbl th 
{
font-size:1em;
padding:3px 7px 2px 7px;
alignment-adjust:middle;
}
.form_hd 
{
font:bold 13px arial,sans-serif;
text-align:center;
padding-top:5px;
padding-bottom:4px;

}
.form_label
{
text-align:left;
font:12px arial,sans-serif;
color:#000000;
}
.form_button
{
text-align:center;
font:13px arial,sans-serif;
color:#000000;
}

/*Bang phan bang moi o day v2*/
/*Bat dau doan code ha edit*/
#rounded-corner
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px;
	margin: 45px;
	width: 480px;
	text-align: left;
	border-collapse: collapse;
	border: 1px solid #69c;	
}
tr.hangngang 
{
	background: #b9c9fe url('table-images/left.png') left -1px no-repeat;
}
#rounded-corner thead th.rounded-q4
{
	background: #b9c9fe url('table-images/right.png') right -1px no-repeat;
}
#rounded-corner th
{
	padding: 8px;
	font-weight: normal;
	font-size: 13px;
	color: #039;
	background: #b9c9fe;
	border: 1px solid #69c;
}
#rounded-corner td
{
	padding: 8px;
	background: #e8edff;
	border-top: 1px solid #fff;
	color: #669;
	border: 1px solid #69c;
}

#rounded-corner tfoot td.rounded-foot-left
{
	background: #e8edff url('table-images/botleft.png') left bottom no-repeat;
}
#rounded-corner tfoot td.rounded-foot-right
{
	background: #e8edff url('table-images/botright.png') right bottom no-repeat;
}
#rounded-corner tbody tr:hover td
{
	background: #d0dafd;
}
.mauchu{
	font-size:12px;
	color:#600;	
	}	
.hieu_ung_nut2 {
   font:  13px Tahoma, Arial, Helvetica, sans-serif;
   background-color: #0080C0;
   border-radius: 3px;
   color: #FFFFFF;
   padding: 2px 15px;
   cursor:pointer;
}
.btn_on_menu {
   font:  13px Tahoma, Arial, Helvetica, sans-serif;
   text-align:center;
   border-style:none;
   background-color:#ffffff;
   color:#000;
   cursor:pointer;
   padding:4px;
}
.btn_on_menu:hover {
	background-color: #EC6603; 
	color:#fff;

}
/*Cho trang chu*/
.Khung1{
	font:  13px Tahoma,verdana,geneva,arial,helvetica,sans-serif;	
	border-radius:5px;
	alignment-adjust:middle;
	background: #fcfcff;
	margin-top:5px;
	margin-bottom:5px;
	}
.Khung_upload{
	font:  13px Tahoma,verdana,geneva,arial,helvetica,sans-serif;	
	border-radius:5px;
	alignment-adjust:middle;
	background: #fcfcff;
	margin-top:5px;
	margin-bottom:5px;
	}
.Khung2{
	font: 13px Tahoma, Geneva, sans-serif;
	width: 400px;
	height:260px;
	margin-right:20px;
	margin-left:60px;
	border-radius: 5px;
	}
p.mau{
	color:#930;
	}	
.mau_chu_legen{
	font: bold 14px Tahoma, Geneva, sans-serif;
	text-align: left;
	color:#0080C0;
	}	
div.login{
	color:#099;
	font:  13px Tahoma, Geneva, sans-serif;
	text-align:center;
	padding:2em 2em 1em 2em;
	margin-right:90px;
	border-color:#3CF;
	background-color:#E2E4FF;
	box-sizing: border-box;
    border-radius: 0.5em 2em 0.5em 2em	
	}
div.info{
	color:#FFFFFF;
	font:  13px Tahoma, Arial,  Geneva, sans-serif;
	}
div.info a{ color: white;}

div.home_bar
	{
	color:#099;
	font: 13px  Tahoma, Geneva, sans-serif;
	font-weight: bold;
	text-align:left;
	padding:0.2em 0.5em 0.2em 0.5em;
	margin-top:10px;
	margin-left:5px;
	margin-right:5px;
	border-color:#3CF;
	background-color:#E2E4FF;
	box-sizing: border-box;
	border-radius: 0.5em 0.5em 0em 0em	
}
div.home_bar_child
	{
	font: 13px  Tahoma, Geneva, sans-serif;
	text-align:left;
	padding:0.2em 0.2em 0.2em 2em;
	margin-left:5px;
	margin-right:5px;
	border-color:#3CF;
	background-color:#F1F8F9;
	box-sizing: border-box;    
	height: 300px;
}
div.home_bar_child_bottom
	{
	font: 13px  Tahoma, Geneva, sans-serif;
	text-align:left;
	padding:0.2em 0.2em 0.2em 2em;
	margin-left:5px;
	margin-right:5px;
	border-color:#3CF;
	background-color:#F1F8F9;
	box-sizing: border-box;    
}

/* CSS cho popup menu*/
.size { position:relative }
.size .field {
	width:130px; color:brown; padding:5px; border:none; cursor:pointer;
	font-family:'lucida sans unicode',sans-serif; font-size:1em;
	border:solid 0px #ffffff;
	-webkit-transition: all .4s ease-in-out;
	transition: all .4s ease-in-out;
}
.size .field:hover {
	border:solid 0px #fff;
	/*-moz-box-shadow:0 0 5px #999; -webkit-box-shadow:0 0 5px #999; box-shadow:0 0 5px #999*/
}

.size>ul.list { display:none;
	position:absolute; right:40px; top:-30px; z-index:999;
	/*width:130px;*/
	margin:0; padding:5px; list-style:none;
	background:#fff; color:#333;
	-moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px;
	-moz-box-shadow:0 0 5px #999; -webkit-box-shadow:0 0 5px #999; box-shadow:0 0 5px #999
}

.size>ul.list li {
	padding:1px;
	border-bottom: solid 1px #ccc;
}
.size>ul.list li:hover {
	background:#EC6603; color:#fff;
}
.size>ul.list li:last-child { border:none }
/* End css cho popup menu*/
